In [54]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob

In [55]:
# Importing our 2010-2017 Dengue Hemorrhagic Fever (DHF) hemodataset
xls0 = pd.ExcelFile('2010bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
xls1 = pd.ExcelFile('2011bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
xls2 = pd.ExcelFile('2012bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
xls3 = pd.ExcelFile('2013bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
xls4 = pd.ExcelFile('2014bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
xls5 = pd.ExcelFile('2015bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
xls6 = pd.ExcelFile('2016bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
xls7 = pd.ExcelFile('2017bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')

dhf0 = pd.read_excel(xls0,'2010')
dhf1 = pd.read_excel(xls1,'2011')
dhf2 = pd.read_excel(xls2,'2012')
dhf3 = pd.read_excel(xls3,'2013')
dhf4 = pd.read_excel(xls4,'2014')
dhf5 = pd.read_excel(xls5,'2015')
dhf6 = pd.read_excel(xls6,'2016')
dhf7 = pd.read_excel(xls7,'2017')

In [56]:
# Get the current directory storing 2010-2017 Dengue Hemorrhagic Fever (DHF) hemorrhagic datasets
path = os.getcwd()
filenames = glob.glob(path + "/*.xlsx")

# Loop and read through all the excels

# need to add column specify 

# combine them to one data file?

In [57]:
# Set the columns names to the age category and multiple Malaysian States name, 
dhf0.columns = dhf0.iloc[1]
dhf1.columns = dhf1.iloc[1]
dhf2.columns = dhf2.iloc[1]
dhf3.columns = dhf3.iloc[1]
dhf4.columns = dhf4.iloc[1]
dhf5.columns = dhf5.iloc[1]
dhf6.columns = dhf6.iloc[1]
dhf7.columns = dhf7.iloc[1]

# Remove the first two unrelated rows
dhf0 = dhf0.iloc[2:]
dhf1 = dhf1.iloc[2:]
dhf2 = dhf2.iloc[2:]
dhf3 = dhf3.iloc[2:]
dhf4 = dhf4.iloc[2:]
dhf5 = dhf5.iloc[2:]
dhf6 = dhf6.iloc[2:]
dhf7 = dhf7.iloc[2:]

In [58]:
# Rename 'Kumpulan Umur' to  'Age Group'
dhf0.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)
dhf1.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)
dhf2.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)
dhf3.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)
dhf4.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)
dhf5.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)
dhf6.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)
dhf7.rename(columns = {'KUMPULAN UMUR':'Age Group'}, inplace = True)

In [59]:
dhf6

1,Age Group,JOHOR,KEDAH,KELANTAN,MELAKA,NEGERI SEMBILAN,PAHANG,PERAK,PERLIS,PULAU PINANG,SABAH,SARAWAK,SELANGOR,TERENGGANU,WP KUALA LUMPUR,WP LABUAN,MALAYSIA
2,0-4,1,1,1,0,0,0,0,0,0,1,1,12,0,3,0,20
3,5-9,0,1,1,0,2,0,0,0,1,1,0,13,0,4,0,23
4,10-14,2,1,0,1,0,2,0,0,2,1,0,18,5,4,0,36
5,15-19,5,1,1,2,5,1,3,0,1,2,0,38,3,10,0,72
6,20-24,3,0,4,2,4,1,5,0,2,1,1,52,2,8,0,85
7,25-29,7,0,3,0,2,0,2,0,0,0,2,50,1,8,0,75
8,30-34,4,0,2,0,2,1,5,0,1,1,0,44,1,9,0,70
9,35-39,2,0,1,2,3,1,2,0,0,0,0,36,0,3,0,50
10,40-44,1,1,0,3,4,2,4,0,1,1,1,29,3,9,0,59
11,45-49,0,1,1,4,0,0,2,0,3,0,3,24,0,4,0,42
12,50-54,0,2,1,2,0,4,2,0,0,0,0,12,3,3,0,29
13,55-59,1,0,1,1,1,0,2,0,2,0,1,7,2,1,0,19
14,60-64,0,0,0,1,1,1,2,0,1,2,0,15,0,4,0,27
15,65-69,1,1,0,2,1,1,0,0,0,0,0,5,0,0,0,11
16,70-74,1,0,1,1,2,0,0,1,0,0,0,3,0,0,0,9
17,>75,0,0,1,3,1,0,0,0,0,0,1,1,0,1,0,8
18,Grand Total,28,9,18,24,28,14,29,1,14,10,10,359,20,71,0,635