In [115]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import glob

In [108]:
# Importing our 2010-2017 Dengue Hemorrhagic Fever (DHF) hemodataset
# xls0 = pd.ExcelFile('2010bilangan-kes-penyakit-dengue-haemorrhagic-fever-tahunan-mengikut-negeri-dan-kumpulan-umur.xlsx')
# dhf0 = pd.read_excel(xls0,'2010')

In [116]:
# Get the current directory storing 2010-2017 Dengue Hemorrhagic Fever (DHF) hemorrhagic datasets
path = os.getcwd()
filenames = glob.glob(path + "/*.xlsx")

# Loop and read through all the excels

# need to add column specify 

# combine them to one data file?

In [117]:
# Set the columns names to the age category and multiple Malaysian States name, 
dhf0.columns = dhf0.iloc[1]

# Remove the first two unrelated rows
dhf0 = dhf0.iloc[2:]

# dhf0.rename(columns=dhf0.iloc[1])
dhf0

1,KUMPULAN UMUR,JOHOR,KEDAH,KELANTAN,MELAKA,NEGERI SEMBILAN,PAHANG,PERAK,PERLIS,PULAU PINANG,SABAH,SARAWAK,SELANGOR,TERENGGANU,WP KUALA LUMPUR,WP LABUAN,MALAYSIA
2,0-4,10,0,4,1,0,0,0,0,3,1,5,32,2,5,0,63
3,5-9,16,0,11,2,2,4,4,0,1,3,12,63,4,21,0,143
4,10-14,63,0,25,29,9,12,8,0,5,2,10,182,9,37,0,391
5,15-19,67,0,55,38,15,16,4,0,1,2,12,243,14,38,0,505
6,20-24,102,0,32,52,18,10,2,0,0,0,22,348,13,44,0,643
7,25-29,115,0,31,41,18,13,2,0,3,2,21,330,14,48,0,638
8,30-34,78,0,20,28,14,13,4,0,2,2,12,246,5,33,0,457
9,35-39,63,0,23,28,13,10,1,0,4,1,17,166,6,20,0,352
10,40-44,35,1,14,27,9,7,2,0,1,3,20,132,5,15,0,271
11,45-49,29,1,22,18,13,12,0,0,1,1,8,83,3,6,0,197
12,50-54,18,0,21,15,9,11,1,0,0,0,11,61,3,11,0,161
13,55-59,12,1,6,16,6,4,3,0,0,0,4,34,4,10,0,100
14,60-64,12,0,5,5,2,2,0,0,0,0,3,16,0,5,0,50
15,65-69,7,0,8,3,0,1,0,0,0,0,3,10,0,2,0,34
16,70-74,3,0,0,4,0,0,1,0,0,0,0,7,0,2,0,17
17,>75,0,0,2,1,0,1,0,0,0,0,2,2,1,0,0,9
18,Grand Total,630,3,279,308,128,116,32,0,21,17,162,1955,83,297,0,4031